body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #fff;
}

#navbar-section{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background:#002a51;
    padding: 0 !important;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}

.background{
    margin: 0 auto;
    padding: 10px;
    background-image: url('../images/background-img.jpg');
    height: 225px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid #002a51;
}

.background-title{
    font-size: 5vmin;
    color: #fff;
    margin-left: 60%;
    font-weight: 600;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}


.titlecontainer{
    margin-top: 30px;
    text-align: center;
    text-align: start;
}

.titlecontainer img{
    width: auto;
    height: 150px;
}
.myTabs{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 35px;
    /* padding: 25px; */

}

.myTabs input[type='radio']{
    display: none;
}

.tablabel{
    /* padding: 0 1.5em; */
    line-height: 3em;
    width: 140px;
    margin-right: 3px;
    font-weight: bold;
    color: #999;
    text-align: center;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    background-color: #fff;
    cursor: pointer;
   
    
    
    
}


.firsttab{
    margin-left: 30px;
}

.myTabs .tab{
    width: 100%;
    padding-top: 20px;
    order: 1;
    display: none;
    border-top: 1px solid #ccc;
 
}

.myTabs input[type='radio']:checked + label + .tab{
    display: block;
}

.myTabs input[type='radio']:checked + label{
    color: #333;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
}
.myTabs input[type='radio']:checked + label::after{
    content: '';
    background: #fff;
    height: 3px;
    width: 141px;
    padding: 0;
    margin: 0;
    margin-left: -1px;
    display: block;
    transform: translateY(3.6px);
}

#Table{
    margin-top: 25px;
}


input{
    border: none;
    outline: none;
}


.addnew-button{
    border: 1px solid;
    margin-left: 15px;
}

.addNewbutton:hover{
    color: #ae0015;
}

table th{
    text-align: center;
    font-size: 1.2em;
    
}
.buttons i{
    color: #fff;
}

table .buttons{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.edit{
    background-color: #e8cfa9;
   
}
.save{
    background-color: #4db538;
  
}
.delete{
    background-color: #ae0015;
}

.selectPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.pagination-container{
    border-bottom: 1px solid;
}
.pagination-container ul li a{
    color: #000;
    padding: 10px;
}

.analyticstable{
    padding: 20px;
}

/* #tabAnalyze h3{

} */