*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{width:0;height:0;}
::-webkit-scrollbar-button{width:1px;height:1px;}  


body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #fff;
}

#navbar-section{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background: #002a51;
    padding: 0 !important;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    display: flex;
}

.navbar-brand-title{
    display: flex;
    align-items: center;
    margin: auto;
    font-size: calc(1.2rem + 3*(100vw - 68.75rem)/820);
    color: #fff;
    font-weight: 900;
}


.navbar-brand img{
    height: 40px;
    margin-left: 20px;
}

.navbar-collapse{
    margin-right: 20px;
}

.navbar-nav li a {
    font-weight: 500;
    letter-spacing: 1px;
    float: right;
    text-align: left;
    padding-left: 20px !important;
    color: #fff !important;
    font-size: calc(.9125rem + 3*(100vw - 68.75rem)/820);
 
    
}
 .navbar-nav li .english{
    display: none;
    
} 
.navbar-nav li:hover .english{
    display: block;
    color: #DE5B16 !important;
    font-weight: 500 !important;

}

.navbar-nav li:hover .mongolian{
    display: none;
}

.navbar-toggler{
    outline: none !important;
}


.background{
    margin: 0 auto;
    padding: 10px;
    background-image: url('../images/background-img.jpg');
    height: 225px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid #002a51;
}

.background-title{
    font-size: 5vmin;
    color: #fff;
    margin-left: 60%;
    font-weight: 600;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}


.titlecontainer{
    margin-top: 30px;
    text-align: center;
    text-align: start;
}

.titlecontainer img{
    width: auto;
    height: 150px;
}
.myTabs{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 35px;
    
    /* padding: 25px; */

}

.myTabs input[type='radio']{
    display: none;
}

.tablabel{
    /* padding: 0 1.5em; */
    line-height: 3em;
    width: 140px;
    margin-right: 3px;
    font-weight: bold;
    color: #999;
    text-align: center;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    background-color: #fff;
    cursor: pointer;
   
    
    
    
}


.firsttab{
    margin-left: 30px;
}

.myTabs .tab{
    width: 100%;
    padding-top: 20px;
    order: 1;
    display: none;
    border-top: 1px solid #ccc;
 
}

.myTabs input[type='radio']:checked + label + .tab{
    display: block;
}

.myTabs input[type='radio']:checked + label{
    color: #333;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
}
.myTabs input[type='radio']:checked + label::after{
    content: '';
    background: #fff;
    height: 3px;
    width: 141px;
    padding: 0;
    margin: 0;
    margin-left: -1px;
    display: block;
    transform: translateY(3.6px);
}

.filter-directadd-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.filter-directadd-container h5{
    margin-left: 400px;
}

#Table{
    margin-top: 25px;
}


@media only screen and (max-width: 750px) {
    .table-container{
        width: 100%;
    }
  }



#table-filter-input{
    border: none;
    outline: none;
    width: 300px;
    border-bottom: 2px solid #8e54e9;
}
.filter-directadd{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 750px) {
    .filter-directadd{
        display: flex;
        flex-direction: column;
    }
  }


.filter-directadd-container a{
    cursor: pointer;
    /* margin: 20px 0 5px 0; */
    text-decoration: none;
    color: #4a4a4a;
    position: relative;
    display: inline-block;
    transition: color ease 0.3s;
    z-index: 1;
    padding: 10px;
}
.filter-directadd-container a:after{
    position: absolute;
    content: '';
    z-index: -1;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    /* background: linear-gradient(to right, #4776e6, #8e54e9); */
    background: linear-gradient(to right, #5A84BD, #2E8BA6);
    transition: all ease 0.3s;
}


.filter-directadd-container a:hover{
    color: #fff;
}
.filter-directadd-container a:hover:after{
    height: 100%;
}

.unresponsive thead tr .th-term{
    min-width: 150px;
}

.unresponsive thead tr .th-definition{
    min-width: 200px;
}
.unresponsive thead tr .th-description{
    min-width: 300px;
}
.unresponsive thead tr .th-field{
    min-width: 50px;
}
.unresponsive thead tr .th-email{
    min-width: 200px;
}
.unresponsive thead tr .th-action{
    min-width: 150px;
}

table th{
    text-align: center;
    font-size: 1.2em;
    
}

#tablesection{
    padding: 0;
    margin: 0;
}

.buttons i{
    color: #fff;
}

table .buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    /* border: 0 !important; */
}
/* 
.bigtablerow{
    padding: 0 !important;
    margin: 0 !important;
}
.bigtablerow table{
    margin: 0 !important;
} */

/* .ediTable{
    margin: 0 !important;
    padding: 0 !important;
} */

.edit{
    background-color: #4776e6;
   
}
.save{
    background-color: #8e54e9;
  
}
.delete{
    background:linear-gradient(to right, #4776e6, #8e54e9);
}

.selectPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.pagination-container{
    border-bottom: 1px solid;
}
.pagination-container ul li a{
    color: #000;
    padding: 10px;
}

.analyticstable{
    padding: 20px;
    
}

.analyticstable table th{
    background: #2E8BA6;
}

.freqtab p{
    display: inline-block;
    width: 50%;
}
.freqtab{
    text-align: center;
}
.freqtable-container{
    display: flex;
    justify-content: center;
}

.freqtable-container table{
    width: 60%;
}

/* #tabAnalyze h3{

} */