*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
}


#search-section, #contribute-section, #about-section{
    min-height: 100vh;
}

#team-section{
    min-height: 75vh;
}


/* Nav-bar Section*/

#navbar-section{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background: #002a51;
    padding: 0 !important;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a {
    font-weight: 600;
    letter-spacing: 1.5px;
    float: right;
    text-align: left;
    color: #fff !important;
}

.navbar-toggler{
    outline: none !important;
    border-color: #fff !important;
}

/* Search Section */

.background{
    margin: 0 auto;
    padding: 10px;
    background-image: url('../images/background-img.jpg');
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-title{
    font-size: 5vmin;
    color: #fff;
    margin-left: 60%;
    font-weight: 600;
    text-align: center;
}

.searchbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #20476B;  
}

.searchbox{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.inputcntr{
    position: relative;
    display: flex;
    width: 400px;
    justify-content: center;
}


.searchbox input{
    font-weight: 600;
    font-size: 18px;
    height: 50px;
    overflow: hidden;
    display: block;
    outline: none;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 25px;
    width: 100%;
    border: 3px solid #002a51;
    background: #F4F7F8;
} 

.lang-menu{
    margin-left: 10px;
}
.lang-menu img{
    width: 28px;
    height: 28px;
}
.lang-menu select{
    outline: none;
    background: #20476B;
    color: #fff;
    padding: 5px;
    border-color: #20476B;
}

.search-icon{ 
    position: absolute;
    font-size: 28px;
    right: 5%;
    top: 10%;
    color: #95a9b6;;
}

.open{
    height: 320px;
    width: 100%;
    overflow: scroll;   
}
.selected{
    background-color: rgba(245,251,251,0.2);
}

.suggestions-autocomplete > li{
    padding: 12px 120px;
    font-size: 16px;
    font-weight: 600;
    color: #EBEBEB;
    cursor: pointer;
    transition: 0.5s;   
    margin: 0;
    list-style-type: none;
    overflow: scroll;
}

.suggestions-autocomplete > li:hover{
    background-color: rgba(245,251,251,0.2);
}

/* same section but different row */

.search-result-box{
    display: none;
}

.search-result{
    padding: 20px;
    width: 100%;
    margin-top: 1%;
    position: relative;
}
.search-result-show{
    display: flex;
}

 #searched-term{
    font-size: 2.5em;
}

#searched-term-definition{
    font-size: 1.2em;
}

#searched-term-field{
    color:  #DE5B16;
    margin-left: 20px;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    font-size: x-large;
}

.search-result-container, .searched-term-field-info{
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.12);
    padding: 15px;
    margin-top: 10px;
    margin-right: 7px;
    height: 350px;
    font-size: 18px;
}
.search-result-container{
    font-style: italic;
}
.searched-term-field-info{
    background: #DE5B16;
    color: #fff;
}

.searched-term-field-info ul{
    list-style: none;
    font-weight: 800;
    padding-left: 30px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: #000;
}


/* Contribute Section */

#contribute-section{
    background: #f5f5f7;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

#contribute-section .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .contributecntr{
    
    background: #fff;
	border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
    margin-bottom: 50px;
    height: 50%;
    
}

section .contributecntr .addnew-info-container{
    
    height: 450px;
    border-top-left-radius:  5px;
    border-bottom-left-radius:  5px;
    background: #2F699E;
	text-align: center;
	transition: 1s cubic-bezier(.95,.32,.37,1.31);
	z-index: 2;
}
section .contributecntr .addnew-info-container h2{
    color: #fff;
    padding-top: 20px;
}


section .contributecntr .addnew-info-container p
{
	padding: 10px 25px;
	/* text-align: center; */
	color: #fff;
	
}
.term-duplicate-check{
    display: none;
}
.reminder-text{
    font-weight: 500;
    font-size: 18px;
}

.reminder-box{
    box-shadow: 0 0 0 rgb(193,23,23);
    /* animation: pulse 1.5s infinite; */
    animation-name: shape;
    background-color: #002a51;
    color: #fff;
    padding: 10px;
    margin-top: 30px;
}

.reminder-box:hover {
    animation: none;
  }


  @keyframes shape {
    0% {
      
      box-shadow: 0 0 0 0 rgba(193,23,23, 0.4);
    }
    70% {
        
        box-shadow: 0 0 0 10px rgba(193,23,23, 0);
    }
    100% {

        box-shadow: 0 0 0 0 rgba(193,23,23, 0);
    }
  }

.token-info h5{
    margin-top: 15px;
    color: #fff;
}

.token-info p{
    font-size: .825rem;
    text-align: justify;
}

 .exit-icon
{
    position: absolute;
    top: 25px;
    left: 30px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
section .contributecntr .addnew-info-container .token-info-btn{
    margin-top: 20px;
}
section .contributecntr .addnew-info-container .token-info-btn:hover
{
	color: #fff;
    font-weight: 700;
    text-decoration: none;
}

/* OT Token rotation */

@keyframes rotation {
    0% {
      transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
      transform: rotate3d(0, 1, 0, 180deg);
    }
    100% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }

  #ottoken{
    animation: rotation 3s infinite linear;
    transform-origin: center;
  }

/* -----------------*/

section .contributecntr .addnew-container{

    height: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
}
section .contributecntr .addnew-container h2
{

	margin: 15px 0 5px;
    padding: 0;
    color: #002a51;
}
section .contributecntr .addnew-container input
{
	margin: 15px 0;
	width: 344px;
	height: 30px;
	color: #002a51;

}
section .contributecntr .addnew-container input[type="text"],
section .contributecntr .addnew-container input[type="email"],
section .contributecntr .addnew-container input[type="password"]
{
	border:none;
	outline: none;
	border-bottom: 1px solid #000;
	transition: .5s;
}

section .contributecntr .addnew-container textarea{
    outline: none;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
}

section .contributecntr .addnew-container input[type="text"]:focus,
section .contributecntr .addnew-container input[type="email"]:focus,
section .contributecntr .addnew-container input[type="password"]:focus
{
	border-bottom-color: #c82502;
	transition: .5s;
}
section .contributecntr .addnew-container .submitbtn
{
	width: 150px;
	height: 40px;
	font-weight: 400;
	border:none;
	outline: none;
	background:#002a51;
	color: #fff;
	border-radius: 30px;
	transition: .5s;
	cursor: pointer;
}
section .contributecntr .addnew-container .submitbtn:hover
{
	background: transparent;
	border:2px solid #000;
	color: #000;
	font-weight: 700;
}


/* About Section */

#about-section{
    padding: 40px 0;
}

.aboutus-title{
    color: #c82502;
    text-transform: uppercase;
    font-weight: 600;
}

.aboutus-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 10px;
}

.aboutus-container{
    border-left: 4px solid #c82502;
    margin: 80px 0px;
 
}

.aboutus-text{
    text-align: justify;
    font-weight: 400;
    
}

.aboutus-details{
    display: inline-block;
    font-size: 18px;
}

/* Learning Section */

#info{
    background: #f5f5f7;
}

.textcontainer{
    padding-top: 20px;
}

.imgcontainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

  
} 
.infoimg img{
    width: 450px;
    height: 450px;
}


.infotext{
    text-align: left;   
    padding: 20px;
    font-size: 16px;
}
.infotext h5{
    font-size: 2.5rem;
    font-weight: bolder;
}

.scrollrow{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;   
     
}

.scrollrow a{
    text-align: center;
}

::-webkit-scrollbar{width:0;height:0;}
::-webkit-scrollbar-button{width:1px;height:1px;}  



.navigationbuttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
}

.navigationbuttons h3{  
    font-size: 3vmin;
    font-weight: bolder;
}
.navigationbuttons .arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 72%;
    border-radius: 30px;
    width: 65px;
    height: 30px;
     box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}


.prev, .next{
    background-color: #fff;
    outline: 0;
    border: none;
    margin: 0 5px;
}

.prev:focus, .next:focus{
   outline: none;
}


.card{
  width: 300px;
  height: 400px;
  margin: 20px 15px;
  /* padding: .625rem; */
  display: inline-block;
  vertical-align: top;
  transition: all 0.5s ease-in-out;
  text-align: left;
  /* background: #f6f6f6; */
} 

.imgbox{
    display: flex;
    justify-content: center;
    background: #2F699E ;
    height: 100px;
}
.card img{
    width: 35%;
    margin-top: 15%;
    position: absolute;
    z-index: 2;
}

.card:hover{
    transform: scale(1.1);
    box-shadow:  0 0 5px 1px rgba(0,0,0,.1);
    /* transform: translateY(-8px); */
}

.card p{
    white-space: normal;
    padding: 50px 20px 20px 20px;
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
    color: #282828;
    /* font-family: 'IBM Plex Sans', sans-serif; */
}

.card h3{
    margin: 20px;
    white-space: normal;
    text-align: left;

}
.card a{
    font-weight: 600;
    text-decoration: none;  
    background:  #2F699E;
    padding: 5px 30px;
    border-radius: 25px;
    position: absolute;
    bottom: 10px;
    left: 34%;
    color: #fff;

}

/* Team Section */

#team-section{
    padding: 20px 0 20px 0; 
    background: #f5f5f7;
}

.transteamtext{
    background: #fff;
    /* box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.12); */
    font-size: 14px;
    padding: 30px;
    /* font-family: 'IBM Plex Sans', sans-serif; */
    text-align: left;
    border: none;   
}

.transteamtitle{
   /* font-family: 'IBM Plex Sans', sans-serif; */
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px 0;
   /* box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.12); */
   background: #DE5B16;
}

.footcontainer{
    margin-top: 100px;
    padding: 0 !important;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.12);
}

.teamlink{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
}
.teamlink i{
    font-size: x-small;
    margin-left: 5px;
}
.teamlink:hover{
    color:  #2F699E ;
}

/* Email Subscription section */

.email-subscription-container{
    background-color: #DE5B16;
    height: 300px;
    border-radius: 8px;
}
.email-subscription{
    display: flex;
    justify-content: space-around;
}

.subscription-text, .subscription-form{
   vertical-align: middle;
}
.subscription-text{
    font-size: 28px;
    font-weight: 900;
}


/* Contact Section */

#contact-section{
    background: #20476B;  
}

.email-icon{   
    display: flex;
    justify-content: center;
}

.email-icon img{
    width: 35px;
    transition: 0.5s;
}

.email-icon img:hover{
    transform: translateY(-10px);
}

.footer-cntr{
   background: #20476B;  
}


.emails{
    display: flex;
    justify-content: center;
    
}
.emails div{
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.emails div a{
    color: #fff;
}

