*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background: #fff;
    padding: 0 !important;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a {
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}

/* Search Section */

#searchsection{
    min-height: 38em;
}

.intro-title{
    font-size: 35px;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.img-fluid{
    width: 450px;
    height: auto;
}

.searchbox{
    display: flex;
    margin-top: 10%;
    position: relative;
}
.selected{
    background-color: teal;
}

.searchbox input{
    
    height: 50px;
    overflow: hidden;
    display: block;
    outline: none;
    box-sizing: border-box;
    padding: 0 25px 0 80px;
    border-radius: 25px;
    width: 100%;
    border: none;
    background: #F4F7F8;
} 
#lang{
    position: absolute;
    left: 10px;
    top: 14px;
    outline: none;
    border: none;
    padding-right: 5px;
    border-right: rgba(149,169,182,0.7) solid 2px;
    font-weight: 600;
    background: none;
    color: none;
} 


.searchbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.fa-search { 
    font-family: FontAwesome, ‘Helvetica Neue’, Helvetica, Arial, sans-serif; 
    position: absolute;
    right: 20px;
    top: 33%;
    /* opacity: .5; */
    -webkit-font-smoothing: antialiased;
    color: #95a9b6;;
}

.open{
    margin-top: 1%;
    border-top: 3px solid #ae0015;
    border-bottom: 3px solid #ae0015;   
    border-radius: 10px;
    height: 270px;
    width: 100%;
    overflow: scroll;
    box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2);
}

.suggestions::-webkit-scrollbar{
    background: transparent;
}
.suggestions::-webkit-scrollbar-corner{
    display: none;
} 

.suggestions > li{
    padding: 12px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    transition: 0.5s;   
    margin: 0;
    list-style-type: none;
}
.suggestions > li:hover{
    background-color: #F4F7F8;
}

/* same section but different row */


.searchSection{
    display: none;
}

 #searchEntry{
    font-size: 3em;
}
.searched{
    padding: 20px;
    width: 100%;
    margin-top: 1%;
}
#def{
    font-size: 1.2em;
}

.myAbout{
    position: absolute;
    left: 25%;

}


a{
    text-decoration: none;
    color: #000;
}


/* Contribute section */

#contribute{
    background: #f3f2ef;
    padding: 20px 0;
}
.title{
    color: #db3334;
    font-family: 'Exo 2', sans-serif;
}

/* .title::before{
    content: '';
    background: #000;
    height: 2px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(42px);
} */

/* .title::after{
    content: '';
    background: #fcb026;
    height: 9px;
    width: 52px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    transform: translateY(2px);
} */

.addNew{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    height: 500px;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,.38);;
}

.existingSearch{
    margin-top: 20px;
}
.emailinput{
    width: 90%;
}

.termcheck{
    display: none;
}

.shape{
    width: 500px;
    height: auto;
    border-radius: 70px 0 70px 0;
    display: inline-block;
    vertical-align: center;
    background-color: rgba(255,255,255,.7) ;
    box-shadow: 0 0 0 rgba(193,23,23, 0.9);
    animation: pulse 2s infinite;
    animation-name: shape;
    margin-top: 40px;

}

.shape:hover {
    animation: none;
  }


  @keyframes shape {
    0% {
      
      box-shadow: 0 0 0 0 rgba(193,23,23, 0.4);
    }
    70% {
        
        box-shadow: 0 0 0 10px rgba(193,23,23, 0);
    }
    100% {

        box-shadow: 0 0 0 0 rgba(193,23,23, 0);
    }
  }

#existingDef{
    font-weight: 600;
    font-size: 1.5em;
    padding: 20px;
}


.addNew p{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 20px;
}

.box {
    position: relative;
    width: 85%;
    height: 210px;
    overflow: hidden;
}
.deed {
    position: relative;
}
.dood {
    position: relative;
}

.box input {
    width: 100%;
    height: 62px;
    padding-top: 20px;
    border: none;
    outline: none;
}

.box label{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.box label::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #ae0015;
    transform: translate(-100%);
    transition: transform 0.3s ease; 
}
.span-name{
    position: absolute;
    bottom: 0;
    left: 0px;
    transition: all 0.3s ease;
}
.container input:focus + .label-name .span-name,
.container input:valid + .label-name .span-name{
    transform: translateY(-100%);
    font-size: 14px;
    color: #ae0015;
}
.container input:focus + .label-name::after, 
.container input:valid + .label-name::after{
    transform: translateX(0%);
}

.existingSearch{
    text-align: justify;
}

.contributetext{
    margin-top: 40px;
}

.buttonbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button-hover{
    position: relative;
    background: linear-gradient(90deg, rgba(1,202,207,1) 0%, rgba(255,166,23,1) 50%, rgba(255,92,23,1) 100%);
    border: 0;
    cursor: pointer;
    margin: 1em;
    padding: 0.3em;
    border-radius: 20px;
    outline: none;
    width: 35%;
}
.button-hover::before,
.button-hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(1,202,207,1) 0%, rgba(255,166,23,1) 50%, rgba(255,92,23,1) 100%);
    border-radius: 20px;
    transition: all .5s ease-in-out;
}
.button-hover:hover::before{
    filter: blur(5px);
}
.button-hover:hover::after{
    filter: blur(15px);
}


.button-hover span{
    position: relative;
    font-size: 1em;
    z-index: 3;
    display: block;
    padding: .9em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #000;
    background-color:#fff;
    border-radius: 17px;

}

/* About Section */

#about{
    padding: 40px 0;
    min-height: 38em;
}


.aboutus img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 10px;
}

.aboutus{
    border-left: 4px solid #ae0015;
    margin: 80px 0px;
 
}

.aboutustext{
    text-align: justify;
    font-weight: 400;
    
}

.details{
    display: inline-block;
    font-size: 18px;
}

#info{
    background: #f3f2ef;
    padding: 20px 0 !important;
    margin: 0;

}


.infoimg, .infotext{
    margin-top: 20px;
}
.infotext{
    text-align: justify;   
    font-family: 'Exo 2', sans-serif;
    padding: 5px;
}
.infotext h5{
    text-align: center;
    font-weight: 600;
}

/* .scrollcontainer{
    width: 1400px !important;
    
} */

.scrollrow{
    overflow-x: scroll;
    white-space: nowrap;
  
}



::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}  

/* ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(243,242,239,0.9); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}  */



.card{
  width: 300px;
  height: 350px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  transition: all 0.5s ease-in-out;
  margin: 20px;
  text-align: center;
} 

.card:hover{
    transform: scale(1.1);
    box-shadow:  0 0 5px 1px rgba(0,0,0,.1); 
    /* transform: translateY(-8px); */
}
.card p{
    white-space: normal;
    padding: 10px 10px;
    font-size: 12px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;

}

.card h5{
    color: #8badc4;
}
.card a{
    position: absolute;
    bottom: 1em;
    border-top: 1px solid #ae0015;
    width: 100%;
    outline: none;
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
    font-weight: 600;
    color: #03455E;
    
}
.card img{
    width: 100%;
    height: auto;
    margin: 0px auto;
}



#contact{
    padding: 40px 0; 
    min-height: 38em;  
    
}
.transcontainer{
    background-color: #2D2C45;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
}

/* .transteam{
    display: flex;
} */
.transteamtext{
    border-left: 5px solid rgba(255,255,255,.2);
    border-radius: 10px 0 0 10px;
    font-size: 14px;
    padding: 5px 30px;
    background-color: #616477;
    font-family: 'Exo 2', sans-serif;
    text-align: left;
    
}

.transteamtitle img{
    width: 100px;
    height: 100px;
    margin: 50px;
}
.transteamtitle{
    font-family: 'Exo 2', sans-serif;
}


.emailicon{
    width: 60px;
    transition: 0.5s;
}

.emailicon:hover{
    transform: translateY(-10px);
}


.footercontainer{
    display: flex;
    margin: auto;
}

.footercontainer div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}