*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #282828;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background: #002a51;
    padding: 0 !important;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
    
}

.navbar-nav li a {
    font-weight: 600;
    float: right;
    text-align: left;
    color: #fff !important;
    
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}

/* Search Section */

#searchsection, #contribute, #about, #info{
    min-height: 100vh;
}

#contact{
    min-height: 80vh;
}


.intro-title{
    font-size: 35px;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

.img-fluid{
    width: 450px;
    height: auto;
}

.searchbox{
    display: flex;
    margin-top: 10%;
    position: relative;
}
.selected{
    background-color: #2c4e6e;
    color: #fff;
}

.searchbox input{
    
    height: 50px;
    overflow: hidden;
    display: block;
    outline: none;
    box-sizing: border-box;
    padding: 0 25px 0 80px;
    border-radius: 25px;
    width: 100%;
    border: none;
    background: #F4F7F8;
} 
#lang{
    position: absolute;
    left: 10px;
    top: 14px;
    outline: none;
    border: none;
    padding-right: 5px;
    border-right: rgba(149,169,182,0.7) solid 2px;
    font-weight: 600;
    background: none;
    color: none;
} 


.searchbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.fa-search { 
    font-family: FontAwesome, ‘Helvetica Neue’, Helvetica, Arial, sans-serif; 
    position: absolute;
    right: 20px;
    top: 33%;
    /* opacity: .5; */
    -webkit-font-smoothing: antialiased;
    color: #95a9b6;;
}

.open{
    margin-top: 1%;
    border-top: 3px solid #ae0015;
    border-bottom: 3px solid #ae0015;   
    border-radius: 10px;
    height: 270px;
    width: 100%;
    overflow: scroll;
    box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2);
}

.suggestions::-webkit-scrollbar{
    background: transparent;
}
.suggestions::-webkit-scrollbar-corner{
    display: none;
} 

.suggestions > li{
    padding: 12px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    transition: 0.5s;   
    margin: 0;
    list-style-type: none;
    overflow: scroll;
}
.suggestions > li:hover{
    background-color: #F4F7F8;
}

/* same section but different row */


.searchSection{
    display: none;
}

 #searchEntry{
    font-size: 3em;
}
.searched{
    padding: 20px;
    width: 100%;
    margin-top: 1%;
}
#def{
    font-size: 1.2em;
}

.myAbout{
    position: absolute;
    left: 25%;

}


a{
    text-decoration: none;
    color: #000;
}


/* Contribute section */

#contribute{
    background: #f6f6f6;
    padding: 20px 0;
    position: relative;
}

.title{
    color: #c82502;
    font-family: 'IBM Plex Sans', sans-serif;
}

.contributetext{
    font-weight: 500;
    font-size: 18px;
    
}

.termcheck{
    display: none;
}

.shape{
    box-shadow: 0 0 0 rgb(193,23,23);
    /* animation: pulse 1.5s infinite; */
    animation-name: shape;
    background-color: #002a51;
    color: #fff;
    padding: 10px;
    margin-top: 30px;
}

.shape:hover {
    animation: none;
  }


  @keyframes shape {
    0% {
      
      box-shadow: 0 0 0 0 rgba(193,23,23, 0.4);
    }
    70% {
        
        box-shadow: 0 0 0 10px rgba(193,23,23, 0);
    }
    100% {

        box-shadow: 0 0 0 0 rgba(193,23,23, 0);
    }
  }

section .addnew
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 900px;
	height: 450px;
	background: #fff;
	border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
    margin:-35px -35px 0 0;
}
section .addnew .welcome
{
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 450px;
	border-top-left-radius:  5px;
	border-bottom-left-radius:  5px;
	background: #c82502;
	text-align: center;
	transition: 1s cubic-bezier(.95,.32,.37,1.31);
	z-index: 2;
}
section .addnew .welcome h2
{
	text-align: center;
	margin: 15px 0;
	color: #fff;
}

/* .welcome h4{
    margin-top: 30px;
    font-weight: 400px;
} */

section .addnew .welcome p
{
	padding: 10px 25px;
	text-align: center;
	color: #fff;
	
}
 .back
{
    position: absolute;
    top: 30px;
    left: 25px;
    cursor: pointer;
    color: #fff;
}

section .addnew .welcome .infobtn:hover
{
	color: #fff;
    font-weight: 700;
    text-decoration: none;
}

section .addnew .addnewcontainer
{
	position: absolute;
	top: 0;
	left: 400px;
	width: 500px;
	height: 100%;
	text-align: center;
	transition: 1s cubic-bezier(.95,.32,.37,1.31);
	z-index: 1;
	opacity: 1;
	visibility: visible;
}
section .addnew .addnewcontainer h2
{
	position: relative;
	margin: 15px 0 5px;
    padding: 0;
    color: #002a51;
}
section .addnew .addnewcontainer input
{
	margin: 10px 0;
	width: 300px;
	height: 30px;
	color: #002a51;

}
section .addnew .addnewcontainer input[type="text"],
section .addnew .addnewcontainer input[type="email"],
section .addnew .addnewcontainer input[type="password"]
{
	border:none;
	outline: none;
	border-bottom: 1px solid #000;
	transition: .5s;
}

section .addnew .addnewcontainer textarea{
    outline: none;
    margin: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

section .addnew .addnewcontainer input[type="text"]:focus,
section .addnew .addnewcontainer input[type="email"]:focus,
section .addnew .addnewcontainer input[type="password"]:focus
{
	border-bottom-color: #c82502;
	transition: .5s;
}
section .addnew .addnewcontainer .submitbtn
{
	width: 150px;
	height: 40px;
	font-weight: 400;
	border:none;
	outline: none;
	background:#002a51;
	color: #fff;
	border-radius: 30px;
	transition: .5s;
	cursor: pointer;
}
section .addnew .addnewcontainer .submitbtn:hover
{
	background: transparent;
	border:2px solid #000;
	color: #000;
	font-weight: 700;
}

.addnewtext h5{
    color: #fff;
}

.addnewtext p{
    font-size: .825rem;
    text-align: justify;
}



/* About Section */

#about{
    padding: 40px 0;
}


.aboutus img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 10px;
}

.aboutus{
    border-left: 4px solid #c82502;
    margin: 80px 0px;
 
}

.aboutustext{
    text-align: justify;
    font-weight: 400;
    
}

.details{
    display: inline-block;
    font-size: 18px;
}

#info{
    background: #f6f6f6;
    padding: 20px 0 !important;
    margin: 0;
}



.infoimg{
    margin-top: 3em;
  text-align: center;
  padding-left: 3em;
  /* border: 1px solid #999; */
  
 
} 


.infotext{
    text-align: justify;   
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 5px;
    font-size: 1.0625rem;
  
  
}
.infotext h5{
    font-size: 2.5rem;
    font-weight: 900;
}

/* .scrollcontainer{
    width: 1400px !important;
    
} */

.scrollrow{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;     
}

.scrollrow a{
    text-align: center;
}

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}  

/* ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(243,242,239,0.9); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}  */

.navigationbuttons{
    display: flex;
    vertical-align: middle;
    justify-content: center;

}

.prevnext span{
    font-size: 32px;
}

.prevnext button{
    outline: none;
    border: none;
    margin: 0 5px;
    font-size: 32px;
    background-color: #f6f6f6;
}

.card{
  width: 300px;
  height: 280px;
  margin: 20px 15px;
  /* padding: .625rem; */
  display: inline-block;
  vertical-align: top;
  transition: all 0.5s ease-in-out;
  text-align: center;
  background: #fff;
} 

.card:hover{
    transform: scale(1.1);
    box-shadow:  0 0 5px 1px rgba(0,0,0,.1); 
    /* transform: translateY(-8px); */
}
.card p{
    white-space: normal;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
    color: #282828;
    font-family: 'IBM Plex Sans', sans-serif;
}

.card h3{
    margin: 20px;
    white-space: normal;
    text-align: left;

}
.card a{

    outline: none;
    font-weight: 600;
    text-decoration: none;
    
}

.card a:hover{
    color: #c82502;
}


.card img{
    width: 100%;
    height: auto;
    margin: 0px auto;
}



#contact{
    padding: 40px 0 20px 0; 
    /* background: #f3f2ef;   */
}
.transcontainer{
    /* background: #c82502;; */
    /* color: #fff; */
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
}

/* .transteam{
    display: flex;
} */
.transteamtext{
    border-left: 5px solid rgba(255,255,255,.2);
    border-radius: 10px 0 0 10px;
    font-size: 14px;
    padding: 5px 30px;
    background-color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: left;
    
}

.transteamtitle img{
    width: 100px;
    height: 100px;
    margin: 50px;
}
.transteamtitle{
   font-family: 'IBM Plex Sans', sans-serif;
}


.emailicon{
    width: 60px;
    transition: 0.5s;
}

.emailicon:hover{
    transform: translateY(-10px);
}


.footercontainer{
    position: relative;
    font-size: 0.8rem;
    padding: .8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f7;
}
.footercontainer a{
    color: #515154;
    padding: 4px;
    
}
.footercontainer div{
    margin: 5px;
}
.footercontactseparator a{
    border-left: 2px solid #d2d2d7;
    padding-left: 12px;
}
