<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTUG Mining Dictionary Adding words</title>

    <link href="{{ url_for('static', filename='css/googleapifonts.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/start1.css') }}" rel="stylesheet" type="text/css" >


</head>
<body  class="contBody">
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                
                <li class="top">
                    <a href="{{ url_for('home') }}">Dictionary</a>
                </li>
                <li>
                    <a href="" data-toggle="modal" data-target="#about">About</a>
                </li>
                <li>
                    <a href="{{ url_for('contribute') }}">Contribute</a>
                </li>
                <li>
                    <a href="{{ url_for('proofread') }}">Login</a>
                </li>
                <li>
                    <a href="" data-toggle="modal" data-target="#contact">Contact</a>
                </li>
                
            </ul>
            
        </nav>    
    </div>
    
    <div id="about" class="modal modal-lg myAbout" role="dialog">
        <div class="modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">About this resource</h4>
            </div>
            <div class="modal-body">
              <p>
                This project was created and designed by <strong>Khatantuul Batbold</strong> 
                /Translator, Business Services OT/ 
                for the benefit of everyone at Oyu Tolgoi. To make this resource even more useful, this application has a section
                where subject-matter experts and engineers and everyone else who would like to contribute can send words and 
                terminologies.  
                ask subject-matter experts and engineers to contribute 
                <hr>
                Special thanks to <strong>Erkhembayar Enkhtaivan</strong> 
                /Technician Data, Geotechnical Services OT/
                who have made significant contribution throughout the creation. His immense help has made this project come true. 
                <hr>
                Last but not least, thank you all who have made suggestions and helped me along the way.<br><br>
                Sincerely,<br>
                Khatantuul.B
              </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>
      <div id="contact" class="modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">If you any issues or feedback to report, please email us </h4>
            </div>
            <div class="modal-body">
              <p>
                @Khatantuul Batbold: <br>
                    khatantuulb@ot.mn <br>
                <hr>
                @Erkhembayar Enkhtaivan: <br>
                    erkhembayare@ot.mn
              </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>
    
    <div class="container main">
        <div class="container myHeader">
            <div class="row">
                <div class="col-3 mycol" ><img id="logo" src="{{ url_for('static', filename='colorlogo.png') }}"></div>
                <div class="col-6 mycol-title"><h1>Oyu Tolgoi Underground Mining Dictionary</h1></div>
                <div class="col-3 mycol">
                    <a href="{{ url_for('home') }}">Go Back!</a>
                    <a href="{{ url_for('proofread') }}">Login</a>
                </div>
            </div>   
        </div>
        <div class="container addnewcontainer">
            <form class="addNew" role="form" action="{{ url_for('addNew') }}" method="POST" >  
                <label for="ug" >New entry</label>
                <input id="postingterm" name="postingterm" class="term" placeholder="таны оруулах үг" autocomplete="off"><br>
                <label for="utga" >Definition/Description</label>
                <input id="postingdef" name="postingdef" class="utga" placeholder="оруулах үгийн утга/тайлбар" autocomplete="off">
                <br>
                <button class="button-hover" id="btnsubmit" type="submit">
                    <span>Submit/Илгээх</span>
                </button>
            </form>   
        </div> 
    </div>    

    

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}" ></script>
    <script>

            $(document).ready(function () {
                    $('#postingdef').keyup(function (event) {
                        if (event.which === 13) {
                            $('#goBtn').click();
                        }
                    })
                });

    //      $('#btnsubmit').click(function(){
    //    alert("I truly appreciate your contribution! May your day be blessed!");
//    });
        
   

      

    </script>
</body>
</html>