<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OT Dictionary</title>
    <link href="{{ url_for('static', filename='css/googleapifonts.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='css/font.css') }}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/sweetalert.min.css') }}" rel="stylesheet" type="text/css" >    

</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <h4>Glossary of technical terms</h4>
            <ul> 
                <li><a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Glossary</a></li>
                <li><a href="" data-toggle="modal" data-target="#about" ><i class="fas fa-hand-point-right"></i>About</a></li>
                <li><a href="{{ url_for('contribute') }}"><i class="fas fa-hand-holding-medical"></i>Contribute!</a></li>
                <li><a href="{{ url_for('proofread') }}"><i class="fas fa-edit"></i>Login</a></li>
                <li><a href="" data-toggle="modal" data-target="#contact"><i class="fas fa-comment-dots"></i>Contact</a></li>
            </ul> 
            <div class="logo"><img id="logo" src="{{ url_for('static', filename='colorlogo.png') }}"></div>
        </div>
           <div class="main_content">
         
                 <div class="header">Welcome to the OT Technical Glossary!</div>  
                   
                   <div class="searchbox-container">
                    <div class="searchbox">
                        <input type="text" name="term" id="search" autocomplete="off">
                        <a id="goBtn" onclick="get_words()" ><i class="fa fa-lg fa-search"></i></a>
                    </div>
                    <div class="suggestions" ></div>    
                </div>
                 <div class="searchSection">
                     <div class="searched" >
                        <p id="searchEntry"></p>
                        <hr>
                        <p id="def"></p>
                     </div> 
                 </div>
                <div class="info">
                   <h6>Энэхүү Оюу Толгойн Техникийн үг хэллэгийн товч толь бичгийг ашиглаж буй танд баярлалаа!</h6>
                   <p>Гүний уурхай, барилга угсралт болон машин техникийн холбогдолтой үг хэллэгийг багтаасан ба Оюу Толгойн бүх ажилчдад зориулав.<br>
                       Хэрэв та тус толь бичигт байхгүй мэргэжлийн үг хэллэгийг нэмж хувь нэмэр оруулахыг хүсвэл <strong>Contribute</strong> хэсэгт хандан илгээж болно.<br>
                       Танд санал хүсэлт эсвэл ашиглалттай холбоотой асуудал гарвал <strong>Contact</strong> хэсгийн мэдээллийг харна уу.
                   </p>
                </div>
        
        </div>
    </div>     


<div id="about" class="modal modal-lg myAbout" role="dialog">
    <div class="modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">About this resource</h4>
        </div>
        <div class="modal-body">
          <p>
            This project was created and designed by <strong>Khatantuul Batbold</strong> 
            /Translator, Business Services OT/ 
            for the benefit of everyone at Oyu Tolgoi. To make this resource even more useful, this application has a section
            where subject-matter experts and engineers and everyone else who would like to contribute can send words and 
            terminologies.  
            ask subject-matter experts and engineers to contribute 
            <hr>
            Shout out to <strong>Erkhembayar Enkhtaivan</strong> 
            /Technician Data, Geotechnical Services OT/
            who has worked on the backend. 
            <hr>
            Last but not least, thank you all who have made suggestions and helped me along the way.<br><br>
            Sincerely,<br>
            Khatantuul.B
          </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
  <div id="contact" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Санал сэтгэгдэл эсвэл асуудал гарвал: </h4>
        </div>
        <div class="modal-body">
          <p>
            @Khatantuul Batbold: <br>
                khatantuulb@ot.mn <br>
            <hr>
            @Erkhembayar Enkhtaivan: <br>
                erkhembayare@ot.mn
          </p>
          <hr>
          <h4>Үгсийн сантай холбоотой асуудлаар:</h4>
          <p>@Erkhbayar Batkhuu:<br>
                erkhbayarb@ot.mn
          </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" ></script>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/sweetalert2.js') }}" ></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript">

    // $('#about').modal({backdrop: 'static', keyboard: true});  
    

    function sweetalert(message = "brimbrom"){
        Swal.fire("Success","Brim Brom","success")
    }

    function sweetalertfail(message = "The word you searched is not found"){
        Swal.fire("Word Not Found", message ,"error")
    }

    
        
    const searchInput = document.querySelector('#search');
    const suggestionsPanel = document.querySelector('.suggestions');
    searchInput.addEventListener('keyup',function(){
        let search = $('#search').val()
        
        $.ajax({
            type: 'GET',
            url: '/home/autocomplete/' + search,
            dataType: "json",

            success: function (response) {
            let word = response.words
            suggestionsPanel.innerHTML = '';
            $('.searchSection').fadeOut();
                  
            for(i = 0; i < word.length; i++){
            const li = document.createElement('li');
            $('.suggestions').addClass('open');
            li.innerHTML = word[i];
            suggestionsPanel.appendChild(li);

        };      
            
        $('body').on('click', '.suggestions > li', function(){
            $('.searchbox input').val($(this).text());
            $('.suggestions').removeClass('open');
            $('.suggestions').html("");
            get_words();
        });
        $('body').click(function(e){
        
            if(!$(e.target).is('input, a, li')){
                $('.searchbox input').val('').focus();
                $('.suggestions').removeClass('open');
                $('.suggestions').html("");
                $('.searchSection').fadeOut();              
            }
        });

    },
        error: function (response) {
            console.log(response);
            sweetalertfail(response.responseJSON.response)
    },
        complete: function (response) {

        }
        });
    })
      
   
    function get_words() {
        let search = $('#search').val()
        $.ajax({

            type: 'GET',
            url: '/home/' + search,
            dataType: "json",

            success: function (response) {
            
                let word = response.words
                $('.searchSection').fadeIn(600);
                document.getElementById('searchEntry').innerHTML = search;
                document.getElementById('def').innerHTML = word;
        
            },
            error: function (response) {
                console.log(response)
                sweetalertfail(response.responseJSON.response)
            },
            complete: function (response) {
            },
}); 
    }

        //     $(document).ready(function(){
        //          $("goBtn").click(function(){
        //     $(".searchSection").fadeIn(slow);
        // });
        // });


    // anime({
    //     targets: '.suggestions div',
    //     translateY: [
    //         {value: 200, duration: 3300}
    //     ],
    // });

    $(document).ready(function(){
        $('#search').keyup(function(event){
            if(event.which === 13) {
                $('#goBtn').click();
            }
        })
    });
</script>