<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OT Technical Glossary</title>
    <link href="{{ url_for('static', filename='css/main-font.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sweetalert.min.css') }}" rel="stylesheet" type="text/css" >   
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" > 
    <link href="{{ url_for('static', filename='css/orionicons.css') }}" rel="stylesheet" type="text/css">
    <!-- <link rel="shortcut icon" href="static/favicon.png"> -->
</head>

<body>
   <section id="navbar-section">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/ot-logo.png') }}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="#top">GLOSSARY</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#contribute-section">CONTRIBUTE</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#about-section">ABOUT</a>
                </li>
                <!-- <li class="nav-item">
                <a class="nav-link" href="#info">LEARNING</a>
                </li> -->
                <li class="nav-item">
                <a class="nav-link" href="#contact-section">CONTACT</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('proofread') }}">PROOFREAD</a>
                </li>
            </ul>
            </div>
        </nav>
   </section>   
   
   <section id="search-section">
        <div class="background">
            <h1 class="background-title">Техникийн үг хэллэгийн хураангуй толь</h1>
        </div>
        <div class="searchbox-container">
            <div class="searchbox">
                <div class="inputcntr">
                     <input type="text" name="term" id="search" autocomplete="off" value="" size="50">
                     <a id="goBtn" onclick="get_words()"><i class="o-search-magnify-1 search-icon"></i></a>
                 </div>
                <div class="lang-menu">
                    <img src="{{ url_for('static', filename='images/british-flag.png') }}" class="eng-flag">
                    <img src="{{ url_for('static', filename='images/mng-flag.png') }}" class="mng-flag" style="display: none;">
                    <select id="lang" onchange="flag_toggle();">
                        <option>EN-MN</option>
                        <option>MN-EN</option>
                    </select>
                </div>
            </div>
                <div class="suggestions-autocomplete" style="overflow: scroll;" ></div>    
        </div>   
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-8">
                    <div class="search-result-container">
                        <div class="intro-text">
                            <p>
                                Энэхүү Оюу Толгойн Техникийн үг хэллэгийн товч хураангуйг ашиглаж буй танд баярлалаа!
                                Тус толь бичигт гүний уурхай, барилга угсралт болон машин техниктэй холбогдолтой үг хэллэгийг багтаасан ба Оюу Толгойн бүх ажилчдад зориулав.
                            </p>
                            <p>Далайд дусал нэмэр.</p>
                            <hr>
                            <p>
                                Хэрэв та бидний ажилд туслан тус хураангуйд багтаагүй техникийн үг хэллэгийг нэмж ТОКЕН авахыг хүсвэл "Contribute" хэсэгт оруулна уу.
                            </p>
                        </div> 
                        <div class="search-result-box">
                            <div class="search-result" >
                                  <div class="search-result-show">
                                    <p id="searched-term"></p>
                                    <p id="searched-term-field"></p>
                                  </div>            
                                    <hr>
                                   <p id="searched-term-definition"></p>
                                   <p id="searched-term-description"></p>
                            </div> 
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="searched-term-field-info">
                        <p>Энэ хураангуйд багтсан үгсийн орчуулгын хамаарах талбарууд:</p>
                        <ul>
                            <li>Geo - Geology</li>
                            <li>M - Mining</li>
                            <li>C - Construction</li>
                            <li>T - Technical</li>
                            <li>G - General</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
   </section>

   <section id="contribute-section"> 
       <div class="container">
           <div class="row contributecntr no-gutters">
               <div class="col-lg-5">
                    <div class="addnew-info-container">
                        <h2>Contribute!</h2>
                        <p class="addnew-info">Та шинээр үг оруулахдаа тухайн үгийн ямар утгууд толь бичигт орсон байгааг (хэрэв энэ хэсэгт гарч ирсэн тохиолдолд) 
                        нягталж хараарай. Хэрэв таны оруулахыг хүссэн утга байвал өөр тайлбар эсвэл өөр шинэ үг оруулна уу.</p>
                            <div class="term-duplicate-check">
                                <div class="reminder-box">
                                    <p class="reminder-text">Тус үгийн дараах утгууд толь бичигт байна. Толь бичигт байхгүй утга эсвэл өөр үг оруулна уу!</p>
                                </div>
                                    <p id="existing-definitions"></p>
                            </div>
                        <img src="{{ url_for('static', filename='svg/ot-token.svg') }}" id="ottoken">
                        <div class="token-info" style="display: none;" >
                            <h5>Үгс нэмж "ТОКЕН" цуглуулаарай!</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's 
                                standard dummy text ever since the 1500s, when an unknown 
                                printer took a galley of type and scrambled it to make a 
                                type specimen book. It has survived not only five centuries, 
                            </p>
                        </div>
                        <div class="token-info-btn">
                            <a>Урамшууллын талаар мэдээлэл<i class="o-trophy-1"></i></a>
                        </div>     
                    </div>
               </div>
               <div class="col-lg-7">
                    <div class="addnew-container">
                        <form class="addnew-form" role="form" action="{{ url_for('contribute_add_new') }}" method="POST" >
                            <h2>Шинэ үг нэмэх</h2>
                            <input id="new-term" name="new-term" class="term" required autocomplete="off" placeholder="Term" type="text"><br>
                            <input id="new-definition" name="new-definition" class="definition" required autocomplete="off" placeholder="Definition" type="text"><br>
                            <textarea placeholder="Description..." id="new-description" name="new-description" class="description" rows="3" cols="40"></textarea><br>
                            <input type="email" id="submit-email" name="submit-email" placeholder="OT Email" required><br>
                            <input type="submit" name="submitbtn" value="Илгээх" class="submitbtn">
                        </form>
                    </div>
               </div>
           </div>
       </div>
   </section>

   <section id="about-section">
        <div class="container text-center">
            <h3 class="aboutus-title">About the resource</h3>
            <div class="row">
                <div class="col-md-6 aboutus-container">
                    <p class="aboutus-text">This project was initiated and designed by Khatantuul Batbold.
                        She has been working as a translator for Underground project since 2018.
                        She has worked on the front-end and glossary data building.
                    </p>
                    <img src="{{ url_for('static', filename='images/khatantuul.png') }}">
                    <p class="aboutus-details"><b>Khatantuul Batbold</b><br>Front-end</p>
                </div>
                <div class="col-md-6 aboutus-container">
                    <p class="aboutus-text">This resource would not have been here without the help of Erkhembayar Enkhtaivan.
                        He has been working as Data Technician for OTUG since 2019
                        and spent invaluable time developing the back end. 
                    </p>
                    <img src="{{ url_for('static', filename='images/erkhembayar.jpg') }}">
                    <p class="aboutus-details"><b>Erkhembayar Enkhtaivan</b><br>Back-end</p>
                </div>
            </div>
        </div>
   </section>

   <section id="subscription-section">
    <div class="container email-subscription-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="email-subscription">
                    <div class="subscription-text">
                        <p>
                            <span>
                                Өдөрт нэг үг afenoeinfenvioewnigh
                            </span>
                        </p>
                    </div>
                    <div class="subscription-form">
                        <form>
                            <input>
                            <button>Get started</button>
                        </form>
                    </div>
                </div>
            </div>  
        </div>
    </div>
   </section>

  <!-- <section id="info">
       <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-7 textcontainer">
                <div class="infotext">
                    <h3 class="title">Learning</h3>
                    <h5>Хэл сурах арга барил</h5>
                    <p>Хэрэв та хэдэн жилийн өмнөөс л хэл сурах гараагаа эхэлсэн ч төдийлөн ахицгүй, 
                        нэг л сайжрахгүй байгаа бол хэл сурах арга барилаа өөрчлөөд нэг үзээрэй. 
                        Энэхүү зурагт аливаа зүйлийг нүдээр харж сонсох мөн түүнийгээ өөрийн үгээр 
                        ярих нь хамгийн үр дүнтэй суралцах арга барил болохыг харуулсан байна. Хэл 
                        сурахад заавал унших, бичих, ярих болон сонсох гэж ангилан тусдаа мэт ойлгох 
                        албагүй. Таны сонсгол сайжрах тусам аялга, үгийн баялаг болон өгүүлбэр зүйн ерөнхий 
                        бүтцийн ойлголт сайжирч байдаг. Мөн цээж бичиг хийхэд зэрэг таны сонсгол сайжирч, 
                        зөв бичиж сурах, үгийн баялаг нэмэгдэх давуу талтай. Өөрийн хэл сурах арга барил 
                        болон суралцаж болох бусадтай хуваалцахаар доорх 
                    </p>
                </div>
            </div>
        
            <div class="col-lg-5 imgcontainer">
                <div class="infoimg">
                    <img src="{{ url_for('static', filename='images/info.png') }}" class="img-fluid">
                </div>
            </div> 
        </div>
       </div>
    </section>
    <section id="cards">
            <div class=" container scrollcontainer">
                <div class="navigationbuttons">
                    <h3>Санал болгох аргууд</h3>
                    <div class="arrows">
                        <button class="prev">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button class="next">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                 </div>
                 
               <div class="scrollrow">
               
                <div class="card">
                    <div class="imgbox">
                        <img src="{{ url_for('static', filename='images/lea.png') }}" class="img-fluid">
                    </div>
                    <p>Олон төрлийн сэдвээр энгийн хэлбэрээр бичигдсэн өгүүллэгүүдээр 
                        удаан эсвэл энгийн хурдыг сонгон цээж бичиг хийж дараа нь өөрийгөө шалган сонсгол, өгүүлбэр зүй, 
                        үгсийн сангаа сайжруулах болно. 
                    </p>
                    <a href="https://www.learnenglish.de/dictationpage.html">View</a>
                  
                </div>
                <div class="card">
                    <div class="imgbox">
                        <img src="{{ url_for('static', filename='images/longman.png') }}" class="img-fluid">
                    </div>
                
                    <p>Таны англи хэлний мэдлэг хараахан том сонин нийтлэл гарчиглах болоогүй байгаа бол 
                        энгийн хэлбэрээр мэдээ, мэдээлэл уншингаа хэлээ сайжруулах боломжтой. Өөрийн түвшингээ сонгож 
                        сонсонгоо даган унших боломжтой. 
                    </p>
                    <a href="https://www.newsinlevels.com/">View</a>
                </div>
                <div class="card">
                    <div class="imgbox">
                        <img src="{{ url_for('static', filename='images/news.png') }}" class="img-fluid">
                    </div>
                    <p>Англиас англи хэлний маш энгийн үгээр тайлбарласан толь бичиг. Үгийн
                       англи тайлбарыг унших нь зарим тохиолдолд утгыг илүү ойлгох давуу талтай. 
                       Энгийн үгсээр тайлбарласан тул их ойлгомжтой.  
                    </p>
                    <a href="https://www.ldoceonline.com/">View</a>
                    
                </div>     
                <div class="card">
                    <div class="imgbox">
                        <img src="{{ url_for('static', filename='images/youtube.png') }}" class="img-fluid">
                    </div>
                    <p>Заавал өөрт тань сонирхолгүй, хүнд үг хэллэг ашигласан сонин, ном, мэдээ сонсож байхаар
                        хөгжилтэй видео үзэж суралцах нь сонсгол, яриа болон үгийн баялаг сайжруулах хамгийн сайн арга. 
                    </p>
                    <a href="https://www.youtube.com/channel/UCKgpamMlm872zkGDcBJHYDg">View</a>
                </div>    
                <div class="card">
                    <div class="imgbox">
                        <img src="{{ url_for('static', filename='images/quizlet.jpg') }}" class="img-fluid">
                    </div>
                    <p>Шинэ үгсээ энд тэнд бичиж цээжлэх дуртай хүмүүст 
                        орчин үед хэрэглэхэд хялбар, суралцахад
                        хамгийн сайн туслах онлайн флашкард. Үгсээ бичээд хадгалахаас гадна өөрийгөө шалгах, тухайн 
                        үгсээ тоглоом болгон хувиргаж хөгжилтэй байдлаар суралцах болно. 
                    </p>
                    <a href="https://quizlet.com/">View</a>
                </div>
               </div>
            </div>
    </section>   -->
  
   <!-- <section id="team-section">
    <div class="container text-center footcontainer">
        <div class="row no-gutters">
            <div class="col-lg-4 transteamtitle">
                <h3>OTUP Business Services Translation Team</h3>     
            </div>
            <div class="col-lg-8 transteam">
                <div class="transteamtext">
                    <h4>Танилцуулга</h4>
                    <p>
                        Бизнес үйлчилгээний хэлтсийн Орчуулгын алба нь 15 хүний (Албаны ахлах 1, Орчуулгын хянагч 2, Орчуулагч 12) 
                        бүрэлдэхүүнтэйгээр ажиллаж байгаагийн 13 албан хаагч Уурхайн талбайд байрлаж ОТ гүний уурхайн хэлтэс нэгжүүдэд 
                        үлдсэн 2 албан хаагч нь Улаанбаатар хот Шангрила оффист ажиллаж байна. 
                    </p>            
                    <p>
                        Орчуулгын хүсэлт гаргахдаа ErkhbayarB@ot.mn, YadamtsooZ@ot.mn AchiiginB@ot.mn гэсэн цахим 
                        шуудангийн хаягууд руу явуулах шаардлагатай бөгөөд ингэснээр орчуулгын 
                        хүсэлт орхигдохгүй байх нөхцөл болж өгөх юм. Тус алба нь ​ОТ Гүний уурхайн 
                        төслийн бүх баг, хэлтсүүдэд Англи-Монгол, Монгол-Англи аман болон бичгийн орчуулгын үйлчилгээ 
                        үзүүлэн ажилладаг.   
                    </p>  
                    <div class="teamlink">
                        <a href="http://otportal/Underground/business_service/SitePages/mon_team_translation.aspx">Read more</a>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                 </div>
            </div>                         
        </div>
    </div> 
</section> -->

<section id="contact-section">
    <div class="container footer-cntr">
        <div class="row">
            <div class="col-lg-12">
                <div class="email-icon">
                    <img src="{{ url_for('static', filename='images/outlook.png') }}" class="img-fluid emailicon">
                </div>
                <div class="emails">
                    <div>
                        <a href="mailto:erkhbayarb@ot.mn?cc=achiiginb@ot.mn">Үгсийн сантай холбоотой асуудлаар</a>
                    </div>
                    <div>
                        <a href="mailto:khatantuulb@ot.mn?cc=erkhembayare@ot.mn">Ашиглалттай холбоотой асуудлаар</a>
                    </div>
                    <div>
                        <a href="mailto:yadamtsooz@ot.mn">ОТГУ-н Орчуулгийн баг</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" ></script>
<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}" ></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='js/sweetalert2.js') }}" ></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>
<script type="text/javascript">

    function flag_toggle() {
        var x = $(".lang-menu option:selected").text();
    if (x === "EN-MN") {
        $('.eng-flag').show();
        $('.mng-flag').hide();
    } else {
        $('.eng-flag').hide();
        $('.mng-flag').show();
    }
    }

        // $('.addrow').click(function(){
        // build = "<tr><td><input></td><td><input></td></tr>"
        // let tableBody = $('table tbody');
        // tableBody.append(build);
        // });


    function sweetalert(message = "brimbrom"){
        Swal.fire("Success","Brim Brom","success")
    }

    function sweetalertfail(message = "Failed"){
        var contribute = "Please click here to contribute"
        var tocontribute = contribute.link('http://localhost:5000/contribute')
        Swal.fire("Word Not Found ", message + "<BR>" +  tocontribute, "info")
    }


    const searchInput = document.querySelector('#search');
    const suggestionsPanel = document.querySelector('.suggestions-autocomplete');
    
    function populate(word){
        $.each(word, function (idx, w) {
            $('.suggestions-autocomplete').append(`<li class = element>${w}</li>`)

            
    })};
    
     $('body').on('click', '.suggestions-autocomplete > li', function(){
        $('.searchbox input').val($(this).text());
        $('.suggestions-autocomplete').slideUp('slow');
        get_words();  
    });
    

    
        searchInput.addEventListener('keyup',function(e){
            var code = (e.keyCode || e.which);
            
            if(code == 38 || code == 40 || code == 13) {
        return;
        }
        if (searchInput.value.length === 0){
            if(code == 8){
                return;
            }
        }
        let search = $('#search').val();
        let lang = $(".lang-menu option:selected").text();
        let value=$.trim($("#search").val());

        let data = {'input_search': search,
                    'language':lang
                }

        $.ajax({
            type: 'GET',
            url: '{{ config.ABS_PREFIX }}/api/autocomplete',
            dataType: "json",
            data: data, 

            success: function (response) {
            let word = response.words
            suggestionsPanel.innerHTML = '';
            $('.intro-text').hide();
            populate(word);
            
            $('.suggestions-autocomplete').addClass('open').slideDown('slow');   
            
            
            $('.suggestions-autocomplete li:first').addClass('selected');
        
    $('body').click(function(e){
    
        if(!$(e.target).is('input, a, li, section')){
            $('.searchbox input').val('');
            $('.suggestions-autocomplete').slideUp('slow');           
        }

    });

    },
        error: function (response) {
            console.log(response);
            alert(response.responseJSON)
            // sweetalertfail(message = response.responseJSON.response)
    },
        complete: function (response) {
        }
        });
})

    function get_words() {
        let search = $('#search').val()
        let lang = $(".lang-menu option:selected").text();
        let data = {'input_search': search,
                    'language':lang
                }

        $.ajax({

            type: 'GET',
            url: '{{ config.ABS_PREFIX }}/main_search',
            dataType: "json",
            data: data,
            success: function (response) {
            
                let word = response.words
                $('.search-result-box').fadeIn(600);
               
                document.getElementById('searched-term').innerHTML = word['Term'];
                document.getElementById('searched-term-definition').innerHTML = word['Definition'];
                document.getElementById('searched-term-description').innerHTML = word['Description'];
                document.getElementById('searched-term-field').innerHTML = word['Field'];
    
            },
            error: function (response) {
                console.log(response)
                // alert('Gahai')
                sweetalertfail(response.responseJSON.response)
            },
            complete: function (response) {
            },
}); 
    }
    const searchInputcontribute = document.querySelector('#new-term');

    searchInputcontribute.addEventListener('keyup',function(){
        let search = $('#new-term').val()

        $.ajax({

            type: 'GET',
            url: '/ottoli/check/' + search,
            
            dataType: "json",

            success: function (response) {
            
                let word = response.words
                $('.addnew-info, .token-info, .token-info-btn').hide();
                $('.term-duplicate-check').append('<i class="o-exit-1 exit-icon"></i>');
                // $('.back-icon').show();
            $('.exit-icon').click(function(){
                $('.addnew-info, .token-info-btn').show();
                $('.term-duplicate-check, .exit-icon').hide();
            })
                $('.term-duplicate-check').fadeIn(600);
               
                document.getElementById('existing-definitions').innerHTML = word['Definition'];

              
            },
            error: function (response) {
                console.log(response)
                // sweetalert(response.responseJSON.response)
            },
            complete: function (response) {
            },
}); 
    })


    var scroll = new SmoothScroll('a[href*="#"]');


            $('#search').on('keyup', function(e){
                $('.suggestions-autocomplete').addClass('open');
                if (e.which == 40){
                    $('.element:not(:last-child).selected').removeClass('selected').next().addClass('selected');
                    $('#search').val($('.selected').text());
                } else if (e.which == 38) {
                    $('.element:not(:first-child).selected').removeClass('selected').prev().addClass('selected');
                    $('#search').val($('.selected').text());
                }
                $('.searchbox-container .suggestions-autocomplete').scrollTop(230).scrollTop($('.suggestions-autocomplete .selected:first').offset().top-$('.searchbox-container .suggestions-autocomplete').height());

                if (e.which === 13) {
                            $('#goBtn').click();
                            $('.suggestions-autocomplete').slideUp('slow');  
                        }
            });

        $('.token-info-btn').click(function(){
            $('.addnew-info').hide();
            $('.token-info').show();
            $(this).hide();
            $('.token-info').append('<i class="o-exit-1 exit-icon"></i>');
            $('.exit-icon').click(function(){
                $('.addnew-info, .token-info-btn').show();
                $('.token-info, .exit-icon').hide();
            })
        })


        $('.next').click(function(){
            $('.scrollrow').animate({
                scrollLeft: '+=200px'
            }, 'slow');
        });

        $('.prev').click(function(){
            $('.scrollrow').animate({
                scrollLeft: '-=200px'
            }, 'slow');
        });

</script>


